.navbar{
    padding:10px;
    background-color: brown;
}
@media (max-width:767px) {
    .navbar{
    flex-direction: column;
text-align: center;
    }
    .links{
        flex-direction: column;
        display: flex;
        gap: 10px;
    }
    .links a{
        margin-left: 0;
    }
}